/*
Theme Name: Eva Spadinger - Ebenenwechsel
Description: Wordpress Childtheme für Eva Spadinger - Ebenenwechsel
Author: Christian Gapp
Author URI: http://gappc.no-ip.biz
Template: _tk
Version: 1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

a {
  color: #2576a2;
}

a[href$=".pdf"]:after {
  content: url(inc/images/pdf_file_icon_small.png);
  padding-left: 5px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h1, h3 {
  color: #d9ad0c;
}

h2, h4, h6 {
  margin-top: 0px;
}

#colophon {
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  background-color: #f8f8f8;
}

.site-navigation {
  font-size: 18px;
}

.es-header-foto {
  text-align: center;
}

.es-header-foto a {
  text-decoration: none;
}

.es-header-description {
  text-align: center;
}

.es-header-description h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.es-header-address {
  margin-top: 20px;
  text-align: center;
}

.es-info-folder {
  margin-bottom: 30px;
}

.es-post {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
}

.es-post-link {
  margin-bottom: 10px;
}

.es-termine {
  margin-bottom: 20px;
}

.es-termin-past {
  color: #c0c0c0;
}

.es-termin-future, .es-termin-past {
  margin-right: 10px;
}

.es-panel-termine {
  background-color: #E6F5E1;
}

.es-panel-aktuelles {
  background-color: #B8D4F5;
}

.navbar {
  min-height: 45px;
}

.navbar-nav > li > a {
  padding-bottom: 13px;
  padding-top: 13px;
}

.footer-contact {
  text-align: center;
}

.footer-center {
  text-align: center;
}

.footer-links {
  text-align: center;
}

.footer-legal {
  padding-top:20px;
  text-align: center;
}

.single-article-body {
  padding-top: 10px;
}

.teaser {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .es-header-foto {
      text-align: left;
  }

  .es-header-address {
    text-align: right;
  }

  .navbar-brand {
    display: none;
  }

  .footer-contact {
    text-align: left;
  }

  .footer-links {
    text-align: right;
  }
}

/* start  diff */
body {
  background-color: #f8f8f8;
  font-family: "Raleway", "Helvetica";
  font-size: 16px;
}

h2 {
  font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
  font-size: 14px;
}

.container {
  padding: 15px 15px;
  background: #fff;
}

#masthead .container {
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.site-navigation .container {
  padding: 0;
}

.navbar {
  margin-bottom: 0px
}

.navbar-default {
  background-color: #eee;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #ccc;
}

.navbar, .navbar-toggle {
  border-radius: 0;
}

.es-termine, .es-aktuelles {
  border: 1px solid #d9ad0c;
}

.es-termine h1, .es-aktuelles h1 {
    margin: 0px;
    padding: 10px 15px;
    background: #d9ad0c;
    color: #fff;
    font-size: 20px;
}

.es-termine article, .es-aktuelles article {
  margin-bottom: 0;
}

.es-termine .panel, .es-aktuelles .panel {
  border: none;
}

.es-info-folder.panel-body {
  margin-bottom: 0;
}

.es-all {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.es-all .panel {
  margin-bottom: 0;
}

.single-header-image {
  padding: 30px 30px 15px 30px;
}

.single-teaser {
  padding: 15px 30px 0px 30px;
}

.single-article-body {
  padding: 10px 30px 15px 30px;
}

article.panel {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #d9ad0c;
}

.termin-data td {
  padding: 5px;
}

.termin-data td:nth-child(1) {
  padding-left: 0;
}

#colophon {
  border-top: none;
  padding-top: 0px;
}

#colophon a {
  color: #777;
  text-decoration: underline;
}

#colophon .container {
  background-color: #eee;
  color: #777;
  padding: 35px;
}

@media (min-width: 768px) {
  .collapse.navbar-collapse {
    text-align: center;
  }

  #main-menu {
    display: table;
    margin: auto;
    float:none;
  }
}
